body {
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
}
/* div{
    border: 1px solid;
} */
h1{
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgb(178, 233, 215);
}
h3{
    text-align: center;
    margin: 0 auto;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.menu li{
    display: inline-block;
    padding: 0px 80px;
    
}
.menu li a{
    border:2px inset aqua;
    background-color: aquamarine;
    text-decoration: none;
    text-shadow: 2px 3px 6px rgb(178, 233, 215);
    border-radius: 5px;
}
#wrapper{
    width: 90%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    border-radius: 30px;

}
header{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkcyan;
    border-radius: 30px;
    margin-bottom: 50px;
}
footer{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    background-color: darkcyan;
    border-radius: 30px;
    margin-top: 50px;
}
figure img{
    width: 300px;
    height: 200px;
    margin-left: 80px;
    border-radius: 15px;
    box-shadow: -5px -8px 10px aquamarine;
    border: 1px inset aquamarine;
}
#pontaVerde img{
    margin-left: 400px;
}
figcaption{
    text-align: center;
    text-shadow: 2px 3px 6px rgb(178, 233, 215);
}
#pajucara{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: space-around;
    margin-bottom: 50px;
}
#ipioca{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: space-around;
    margin-top: 50px;
}
#fotin img{
    width: 200px;
}
